= render :partial => 'presentations/next_presentation'


.five.centered.extra-margin
    = large_button "Get Directions",google_maps_appfolio_url, :color => 'red', :target => '_blank'
    = large_button "Join SB on Rails",sign_up_path, :color => "blue" unless current_user



.row
    .three-and-a-half.columns.first
        = render :partial => 'presentations/homepage_presentation_ideas'

    .three-and-a-half.columns
        = render :partial => 'presentations/homepage_past_presentations'

    .two-and-a-half.columns
        = render :partial => 'events/homepage_events'

